<div class="forgot-password-wrapper">
  <div class="form_area">
    <p class="title">Forgot Password</p>
    <form (ngSubmit)="submitEmail()" class="form_group">
      <label class="sub_title" for="email">Enter your email</label>
      <input
        [(ngModel)]="email"
        name="email"
        id="email"
        class="form_style"
        placeholder="example@domain.com"
        type="email"
      />
      <button class="btn" type="submit">Send Recovery Code</button>
    </form>
    <p *ngIf="error" class="error-message">{{ error }}</p>
  </div>
</div>
